.header{
    margin: 50px 0px 50px 50px;
}

.header__logo{
    color: #00277E;
    font-weight: bold;
    font-size: 160%;
}

#navi{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#navi li{
    width: 120px;
    text-align: center;
}

#navi li a{
    text-decoration: none;
    color: #00277E;
    font-weight: bold;
}

.navi__home{

}

.navi__business{

}

.navi__adoption{

}

.navi__inquiry{

}

.content{
    position: relative;
    margin-top: 70px;
    width: 100%;
    height: 78%;
}

/*.content {
    position: relative;
    margin-top: 70px;
    width: 1440px;
    height: 625px;
    background-color: red;
}*/

.content__img {
    width: 50%;
    position: absolute;
    right: 0px;
    z-index: 1;
}

.content__tit {
    color: black;
    font-size: 50px;
    position: absolute;
    top: 250px;
    z-index: 2;
}

.content__box {
    width: 75%;
    height: 200px;
    background-color: #00277E;
    position: absolute;
    top: 300px;
    z-index: 0;
    margin-bottom: 100px;
}